:host {
    display: flex;
    background: gray;
    height: 100%;
    width: 100%;
}

#app-canvas {
    flex-basis: 75%;
    background: lightgray;
}
#app-sidebar {
    flex-basis: 25%;
}
#app-brushbox {
    display: block;
    border: 0.5rem solid blue;
    padding: 0.5rem;
}
#app-palette {
    display: block;
    border: 0.5rem solid purple;
    padding: 0.5rem;
}