:host {
    display: flex;
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.brush-button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 1rem;
    user-select: none;
    cursor: pointer;
}

.brush-button:hover {
    border: 1px solid black;
}

.brush-button.selected {
    border: 2px solid yellow;
}